
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title style="margin-left: 10px;">My Blogs</title>
    <link rel="stylesheet" href="{% static 'css/list.css' %}">
</head>
<body>
    <h1 style="text-align: center; margin-left: 300px; font-family: cursive;">My Blogs</h1>

    {% if blogs %}
        <ul class="blog-list" style="margin-left: 10px;">
            {% for blog in blogs %}
            <li class="blog-box">
                <a href="{% url 'blog_detail' blog.id %}">
                    {% if blog.image %}
                        <img src="{{ blog.image.url }}" alt="{{ blog.title }} Image" class="blog-image">
                    {% endif %}
                    <p class="blog-title">{{ blog.title }}</p>
                </a>
            </li>
            {% endfor %}
        </ul>
    {% else %}
        <p style="text-align: center; color: aliceblue;">You haven't written any blogs yet.</p>
    {% endif %}
</body>
</html>
